<html>
    <head>
        <title>pagina di benvenuto</title>
    </head>
    <body>
        <h1>Benvenuto {{paramUser.ottieni_nome()}}</h1>
        <p><h3>Area Personale</h3></p>
        <p>I tuoi dati:</p>
        <table border="1">
            <tr>
                <td>Nome</td>
                <td>Cognome</td>
                <td>Username</td>
                <td>Email</td>
                <td>Data di nascita</td>
                <td>Genere</td>
            </tr>
            <tr>
                <td>{{paramUser.ottieni_nome()}}</td>
                <td>{{paramUser.ottieni_cognome()}}</td>
                <td>{{paramUser.ottieni_username()}}</td>
                <td>{{paramUser.ottieni_email()}}</td>
                <td>{{paramUser.ottieni_data_di_nascita()}}</td>
                <td>{{paramUser.ottieni_genere()}}</td>
            </tr>
            
        </table>
    </body>
</html>